In [108]:
import pandas as pd

In [109]:
csv_path = ("Chronic_Disease_Data/U.S._Chronic_Disease_Indicators__CDI_.csv")

csv_df = pd.read_csv(csv_path)
low_memory=False
csv_df.head()

/Users/Pariah/anaconda3/envs/PythonData3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [110]:
del csv_df["DataSource"]

csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,16.9,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,13,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,18.2,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,15.6,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,15,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [111]:
del csv_df["Response"]


csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,16.9,16.9,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,13,13.0,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,18.2,18.2,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,15.6,15.6,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,15,15.0,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [112]:
del csv_df["DataValueType"]

csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,DataValueFootnoteSymbol,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,16.9,*,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,NaN,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,NaN,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,NaN,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,NaN,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [113]:
del csv_df["TopicID"]

csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,DataValueFootnoteSymbol,...,ResponseID,LocationID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,16.9,*,...,NaN,59,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,NaN,...,NaN,1,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,NaN,...,NaN,2,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,NaN,...,NaN,4,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,NaN,...,NaN,5,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [114]:
del csv_df["QuestionID"]

csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,DataValueFootnoteSymbol,...,GeoLocation,ResponseID,LocationID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,16.9,*,...,NaN,NaN,59,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,NaN,...,"(32.84057112200048, -86.63186076199969)",NaN,1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,NaN,...,"(64.84507995700051, -147.72205903599973)",NaN,2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,NaN,...,"(34.865970280000454, -111.76381127699972)",NaN,4,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,NaN,...,"(34.74865012400045, -92.27449074299966)",NaN,5,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [115]:
del csv_df["DataValueTypeID"]

csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,DataValueFootnoteSymbol,...,Stratification3,GeoLocation,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,16.9,*,...,NaN,NaN,NaN,59,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,NaN,...,NaN,"(32.84057112200048, -86.63186076199969)",NaN,1,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,NaN,...,NaN,"(64.84507995700051, -147.72205903599973)",NaN,2,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,NaN,...,NaN,"(34.865970280000454, -111.76381127699972)",NaN,4,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,NaN,...,NaN,"(34.74865012400045, -92.27449074299966)",NaN,5,OVERALL,OVR,NaN,NaN,NaN,NaN

In [116]:
del csv_df["StratificationCategoryID1"]

In [117]:
del csv_df["DataValueFootnoteSymbol"]

In [118]:
del csv_df["StratificationCategory3"]

In [119]:
del csv_df["Stratification3"]

In [120]:
del csv_df["DatavalueFootnote"]

In [121]:
del csv_df["LowConfidenceLimit"]

In [122]:
del csv_df["HighConfidenceLimit"]

In [123]:
del csv_df["StratificationCategory1"]

In [124]:
del csv_df["StratificationCategory2"]

In [125]:
del csv_df["Stratification2"]

In [126]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,Stratification1,GeoLocation,ResponseID,LocationID,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,16.9,Overall,NaN,NaN,59,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,Overall,"(32.84057112200048, -86.63186076199969)",NaN,1,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,Overall,"(64.84507995700051, -147.72205903599973)",NaN,2,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,Overall,"(34.865970280000454, -111.76381127699972)",NaN,4,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,Overall,"(34.74865012400045, -92.27449074299966)",NaN,5,OVR,NaN,NaN,NaN,NaN

In [127]:
del csv_df["Stratification1"]

In [128]:
del csv_df["ResponseID"]

In [129]:
del csv_df["LocationID"]

In [130]:
del csv_df["StratificationID1"]

In [131]:
del csv_df["StratificationCategoryID2"]

In [132]:
del csv_df["StratificationID2"]

In [133]:
del csv_df["StratificationCategoryID3"]

In [134]:
del csv_df["StratificationID3"]

In [135]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,GeoLocation
0,2016,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.9,16.9,NaN
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,"(32.84057112200048, -86.63186076199969)"
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,"(64.84507995700051, -147.72205903599973)"
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,"(34.865970280000454, -111.76381127699972)"
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,"(34.74865012400045, -92.27449074299966)"

In [136]:
csv_df = csv_df.dropna(how="any")

In [137]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,DataValueAlt,GeoLocation
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,13.0,"(32.84057112200048, -86.63186076199969)"
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,18.2,"(64.84507995700051, -147.72205903599973)"
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,15.6,"(34.865970280000454, -111.76381127699972)"
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,15.0,"(34.74865012400045, -92.27449074299966)"
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,16.3,"(37.63864012300047, -120.99999953799971)"

In [138]:
del csv_df["DataValueAlt"]

In [139]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,GeoLocation
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,"(32.84057112200048, -86.63186076199969)"
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,"(64.84507995700051, -147.72205903599973)"
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,"(34.865970280000454, -111.76381127699972)"
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,"(34.74865012400045, -92.27449074299966)"
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,"(37.63864012300047, -120.99999953799971)"

In [140]:
csv_df_2 = csv_df["GeoLocation"].str.split(",", n = 1, expand = True) 

csv_df_2.head()

                     0                      1
1   (32.84057112200048    -86.63186076199969)
2   (64.84507995700051   -147.72205903599973)
3  (34.865970280000454   -111.76381127699972)
4   (34.74865012400045    -92.27449074299966)
5   (37.63864012300047   -120.99999953799971)

In [151]:
# csv_df['tmp'] = 9
# csv_df_2['tmp'] = 2

## csv_df_3 = pd.merge(csv_df, csv_df_2, on=['tmp'])
# csv_df_3.head()

Empty DataFrame
Columns: [YearStart, YearEnd, LocationAbbr, LocationDesc, Topic, Question, DataValueUnit, DataValue, GeoLocation, tmp, 0, 1]
Index: []

In [154]:
csv_df["Latitude"] = csv_df_2[0]
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,GeoLocation,tmp,Latitude
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,"(32.84057112200048, -86.63186076199969)",9,(32.84057112200048
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,"(64.84507995700051, -147.72205903599973)",9,(64.84507995700051
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,"(34.865970280000454, -111.76381127699972)",9,(34.865970280000454
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,"(34.74865012400045, -92.27449074299966)",9,(34.74865012400045
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,"(37.63864012300047, -120.99999953799971)",9,(37.63864012300047

In [155]:
csv_df["Longitude"] = csv_df_2[1]
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,GeoLocation,tmp,Latitude,Longitude
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,"(32.84057112200048, -86.63186076199969)",9,(32.84057112200048,-86.63186076199969)
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,"(64.84507995700051, -147.72205903599973)",9,(64.84507995700051,-147.72205903599973)
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,"(34.865970280000454, -111.76381127699972)",9,(34.865970280000454,-111.76381127699972)
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,"(34.74865012400045, -92.27449074299966)",9,(34.74865012400045,-92.27449074299966)
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,"(37.63864012300047, -120.99999953799971)",9,(37.63864012300047,-120.99999953799971)

In [156]:
del csv_df["GeoLocation"]

In [157]:
del csv_df["tmp"]

In [159]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,(32.84057112200048,-86.63186076199969)
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,(64.84507995700051,-147.72205903599973)
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,(34.865970280000454,-111.76381127699972)
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,(34.74865012400045,-92.27449074299966)
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,(37.63864012300047,-120.99999953799971)

In [165]:
replace_lat = csv_df["Latitude"].str.replace("\(","")
csv_df_4 = pd.DataFrame(replace_lat)
csv_df_4.head()

             Latitude
1   32.84057112200048
2   64.84507995700051
3  34.865970280000454
4   34.74865012400045
5   37.63864012300047

In [166]:
csv_df["Latitude2"] = csv_df_4["Latitude"]
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude,Latitude2
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,(32.84057112200048,-86.63186076199969),32.84057112200048
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,(64.84507995700051,-147.72205903599973),64.84507995700051
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,(34.865970280000454,-111.76381127699972),34.865970280000454
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,(34.74865012400045,-92.27449074299966),34.74865012400045
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,(37.63864012300047,-120.99999953799971),37.63864012300047

In [167]:
replace_lng = csv_df["Longitude"].str.replace("\)","")
csv_df_5 = pd.DataFrame(replace_lng)
csv_df_5.head()

              Longitude
1    -86.63186076199969
2   -147.72205903599973
3   -111.76381127699972
4    -92.27449074299966
5   -120.99999953799971

In [168]:
csv_df["Longitude2"] = csv_df_5["Longitude"]
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude,Latitude2,Longitude2
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,(32.84057112200048,-86.63186076199969),32.84057112200048,-86.63186076199969
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,(64.84507995700051,-147.72205903599973),64.84507995700051,-147.72205903599973
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,(34.865970280000454,-111.76381127699972),34.865970280000454,-111.76381127699972
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,(34.74865012400045,-92.27449074299966),34.74865012400045,-92.27449074299966
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,(37.63864012300047,-120.99999953799971),37.63864012300047,-120.99999953799971

In [169]:
del csv_df["Latitude"]

In [170]:
del csv_df["Longitude"]

In [173]:
csv_df = csv_df.rename(columns={
    "Longitude2": "Longitude",
    "Latitude2": "Latitude"
})

In [174]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13,32.84057112200048,-86.63186076199969
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,64.84507995700051,-147.72205903599973
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,34.865970280000454,-111.76381127699972
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15,34.74865012400045,-92.27449074299966
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,37.63864012300047,-120.99999953799971

In [175]:
csv_df.dtypes

YearStart         int64
YearEnd           int64
LocationAbbr     object
LocationDesc     object
Topic            object
Question         object
DataValueUnit    object
DataValue        object
Latitude         object
Longitude        object
dtype: object

In [176]:
csv_df["DataValue"] = csv_df["DataValue"].astype(float)

In [177]:
csv_df.dtypes

YearStart          int64
YearEnd            int64
LocationAbbr      object
LocationDesc      object
Topic             object
Question          object
DataValueUnit     object
DataValue        float64
Latitude          object
Longitude         object
dtype: object

In [178]:
csv_df["Longitude"] = csv_df["Longitude"].astype(float)
csv_df["Latitude"] = csv_df["Latitude"].astype(float)

In [179]:
csv_df.dtypes

YearStart          int64
YearEnd            int64
LocationAbbr      object
LocationDesc      object
Topic             object
Question          object
DataValueUnit     object
DataValue        float64
Latitude         float64
Longitude        float64
dtype: object

In [180]:
csv_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValue,Latitude,Longitude
1,2016,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,13.0,32.840571,-86.631861
2,2016,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,18.2,64.845080,-147.722059
3,2016,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.6,34.865970,-111.763811
4,2016,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,15.0,34.748650,-92.274491
5,2016,2016,CA,California,Alcohol,Binge drinking prevalence among adults aged >=...,%,16.3,37.638640,-121.000000

In [184]:
output_csv = csv_df.to_csv("Cleaned_Chronic_Disease_Data.csv", index=False, header=True)

PermissionError: [Errno 13] Permission denied: '/Cleaned_Chronic_Disease_Data.csv'