In [2]:
import pandas as pd

In [3]:
csv_path = ("GDP_Data/bea-gdp-by-state.csv")

csv_df = pd.read_csv(csv_path)
csv_df.head()

   Fips           Area   2013   2014   2015   2016   2017
0     0  United States  48534  49329  50301  50660  51337
1  1000        Alabama  36674  36473  36818  37158  37508
2  2000         Alaska  69711  67179  65971  63304  63610
3  4000        Arizona  38352  38534  38787  38940  39583
4  5000       Arkansas  35888  36265  36295  36502  36714

In [4]:
del csv_df["Fips"]
csv_df.head()

            Area   2013   2014   2015   2016   2017
0  United States  48534  49329  50301  50660  51337
1        Alabama  36674  36473  36818  37158  37508
2         Alaska  69711  67179  65971  63304  63610
3        Arizona  38352  38534  38787  38940  39583
4       Arkansas  35888  36265  36295  36502  36714

In [5]:
csv_df = csv_df.dropna(how="any")

In [6]:
renamed_df = csv_df.rename(columns={
    "Area": "State"
})

In [7]:
renamed_df.head()

           State   2013   2014   2015   2016   2017
0  United States  48534  49329  50301  50660  51337
1        Alabama  36674  36473  36818  37158  37508
2         Alaska  69711  67179  65971  63304  63610
3        Arizona  38352  38534  38787  38940  39583
4       Arkansas  35888  36265  36295  36502  36714

In [8]:
renamed_df.dtypes

State    object
2013      int64
2014      int64
2015      int64
2016      int64
2017      int64
dtype: object

In [17]:
new_df = renamed_df.drop([0], axis = 0)
new_df.head()

        State   2013   2014   2015   2016   2017
1     Alabama  36674  36473  36818  37158  37508
2      Alaska  69711  67179  65971  63304  63610
3     Arizona  38352  38534  38787  38940  39583
4    Arkansas  35888  36265  36295  36502  36714
5  California  53838  55571  57637  58974  60359

In [19]:
new_df

                   State    2013    2014    2015    2016    2017
1                Alabama   36674   36473   36818   37158   37508
2                 Alaska   69711   67179   65971   63304   63610
3                Arizona   38352   38534   38787   38940   39583
4               Arkansas   35888   36265   36295   36502   36714
5             California   53838   55571   57637   58974   60359
6               Colorado   50523   52105   53007   52863   54026
7            Connecticut   62438   62023   62796   62745   62633
8               Delaware   60738   63555   64809   63578   63955
9   District of Columbia  159264  159369  159530  159141  159607
10               Florida   38018   38466   39334   39608   39842
11               Georgia   42513   43467   44246   45238   45925
12                Hawaii   49484   49591   51052   51964   52869
13                 Idaho   34787   35173   35679   36256   36441
14              Illinois   51919   52984   53709   54308   55102
15               Indiana   43876   44818   44721   45717   46427
16                  Iowa   48034   49688   51379   52248   52284
17                Kansas   45468   46235   46792   47548   47435
18              Kentucky   38259   38336   38419   38736   39277
19             Louisiana   43721   44475   44751   44440   44372
20                 Maine   37508   38149   38415   39125   39521
21              Maryland   53751   54108   54661   55786   56375
22         Massachusetts   61842   62528   64660   65168   66500
23              Michigan   40992   41544   42594   43330   44201
24             Minnesota   52023   53109   53257   54295   54805
25           Mississippi   31952   31635   31714   32334   32447
26              Missouri   42498   42527   42785   42736   43036
27               Montana   38567   39319   40148   40041   39833
28              Nebraska   51597   53109   54048   54660   54654
29                Nevada   43074   43075   44057   44142   44812
30         New Hampshire   48873   49623   51020   51827   52509
31            New Jersey   55659   55563   56196   56428   56776
32            New Mexico   39659   40769   41457   41334   41619
33              New York   62320   63174   64286   64522   65220
34        North Carolina   42909   43400   44180   44194   44706
35          North Dakota   67755   70876   67618   64257   64911
36                  Ohio   45262   46671   47098   47419   48188
37              Oklahoma   43317   45418   46370   44418   44535
38                Oregon   48169   48130   49715   50751   51312
39          Pennsylvania   48289   49228   50489   50978   51841
40          Rhode Island   46367   46663   47519   47662   48314
41        South Carolina   35716   36325   36952   37269   37637
42          South Dakota   47003   47039   47980   48306   48004
43             Tennessee   41513   41858   42902   43720   44348
44                 Texas   52007   52879   54200   53104   53737
45                  Utah   42306   43264   44392   44947   45493
46               Vermont   42989   43222   43605   44354   44831
47              Virginia   51112   50855   51486   51443   52124
48            Washington   54197   55338   56617   57796   59333
49         West Virginia   35772   36017   36233   36155   37353
50             Wisconsin   45895   46456   47268   48063   48666
51               Wyoming   60806   60853   61304   59327   61091
52           New England   56689   57068   58477   58882   59637
53               Mideast   57659   58353   59364   59756   60421
54           Great Lakes   46076   47035   47644   48276   49034
55                Plains   48092   49005   49473   49919   50145
56             Southeast   40543   40910   41547   41867   42300
57             Southwest   48205   49119   50214   49320   49902
58        Rocky Mountain   45634   46727   47610   47653   48398
59              Far West   53029   54362   56166   57319   58589

In [21]:
second_new_df = pd.DataFrame()
second_new_df.head()

Empty DataFrame
Columns: []
Index: []

In [24]:
second_new_df = new_df.iloc[51:59, :]
second_new_df.head()

          State   2013   2014   2015   2016   2017
52  New England  56689  57068  58477  58882  59637
53      Mideast  57659  58353  59364  59756  60421
54  Great Lakes  46076  47035  47644  48276  49034
55       Plains  48092  49005  49473  49919  50145
56    Southeast  40543  40910  41547  41867  42300

In [28]:
second_new_df.to_csv("Cleaned_GDP_Data_Regions.csv", index=False, header=True)

In [29]:
new_df

                   State    2013    2014    2015    2016    2017
1                Alabama   36674   36473   36818   37158   37508
2                 Alaska   69711   67179   65971   63304   63610
3                Arizona   38352   38534   38787   38940   39583
4               Arkansas   35888   36265   36295   36502   36714
5             California   53838   55571   57637   58974   60359
6               Colorado   50523   52105   53007   52863   54026
7            Connecticut   62438   62023   62796   62745   62633
8               Delaware   60738   63555   64809   63578   63955
9   District of Columbia  159264  159369  159530  159141  159607
10               Florida   38018   38466   39334   39608   39842
11               Georgia   42513   43467   44246   45238   45925
12                Hawaii   49484   49591   51052   51964   52869
13                 Idaho   34787   35173   35679   36256   36441
14              Illinois   51919   52984   53709   54308   55102
15               Indiana   43876   44818   44721   45717   46427
16                  Iowa   48034   49688   51379   52248   52284
17                Kansas   45468   46235   46792   47548   47435
18              Kentucky   38259   38336   38419   38736   39277
19             Louisiana   43721   44475   44751   44440   44372
20                 Maine   37508   38149   38415   39125   39521
21              Maryland   53751   54108   54661   55786   56375
22         Massachusetts   61842   62528   64660   65168   66500
23              Michigan   40992   41544   42594   43330   44201
24             Minnesota   52023   53109   53257   54295   54805
25           Mississippi   31952   31635   31714   32334   32447
26              Missouri   42498   42527   42785   42736   43036
27               Montana   38567   39319   40148   40041   39833
28              Nebraska   51597   53109   54048   54660   54654
29                Nevada   43074   43075   44057   44142   44812
30         New Hampshire   48873   49623   51020   51827   52509
31            New Jersey   55659   55563   56196   56428   56776
32            New Mexico   39659   40769   41457   41334   41619
33              New York   62320   63174   64286   64522   65220
34        North Carolina   42909   43400   44180   44194   44706
35          North Dakota   67755   70876   67618   64257   64911
36                  Ohio   45262   46671   47098   47419   48188
37              Oklahoma   43317   45418   46370   44418   44535
38                Oregon   48169   48130   49715   50751   51312
39          Pennsylvania   48289   49228   50489   50978   51841
40          Rhode Island   46367   46663   47519   47662   48314
41        South Carolina   35716   36325   36952   37269   37637
42          South Dakota   47003   47039   47980   48306   48004
43             Tennessee   41513   41858   42902   43720   44348
44                 Texas   52007   52879   54200   53104   53737
45                  Utah   42306   43264   44392   44947   45493
46               Vermont   42989   43222   43605   44354   44831
47              Virginia   51112   50855   51486   51443   52124
48            Washington   54197   55338   56617   57796   59333
49         West Virginia   35772   36017   36233   36155   37353
50             Wisconsin   45895   46456   47268   48063   48666
51               Wyoming   60806   60853   61304   59327   61091
52           New England   56689   57068   58477   58882   59637
53               Mideast   57659   58353   59364   59756   60421
54           Great Lakes   46076   47035   47644   48276   49034
55                Plains   48092   49005   49473   49919   50145
56             Southeast   40543   40910   41547   41867   42300
57             Southwest   48205   49119   50214   49320   49902
58        Rocky Mountain   45634   46727   47610   47653   48398
59              Far West   53029   54362   56166   57319   58589

In [35]:
cleaned_df = new_df.drop([52, 53, 54, 55, 56, 57, 58, 59], axis = 0)
cleaned_df

                   State    2013    2014    2015    2016    2017
1                Alabama   36674   36473   36818   37158   37508
2                 Alaska   69711   67179   65971   63304   63610
3                Arizona   38352   38534   38787   38940   39583
4               Arkansas   35888   36265   36295   36502   36714
5             California   53838   55571   57637   58974   60359
6               Colorado   50523   52105   53007   52863   54026
7            Connecticut   62438   62023   62796   62745   62633
8               Delaware   60738   63555   64809   63578   63955
9   District of Columbia  159264  159369  159530  159141  159607
10               Florida   38018   38466   39334   39608   39842
11               Georgia   42513   43467   44246   45238   45925
12                Hawaii   49484   49591   51052   51964   52869
13                 Idaho   34787   35173   35679   36256   36441
14              Illinois   51919   52984   53709   54308   55102
15               Indiana   43876   44818   44721   45717   46427
16                  Iowa   48034   49688   51379   52248   52284
17                Kansas   45468   46235   46792   47548   47435
18              Kentucky   38259   38336   38419   38736   39277
19             Louisiana   43721   44475   44751   44440   44372
20                 Maine   37508   38149   38415   39125   39521
21              Maryland   53751   54108   54661   55786   56375
22         Massachusetts   61842   62528   64660   65168   66500
23              Michigan   40992   41544   42594   43330   44201
24             Minnesota   52023   53109   53257   54295   54805
25           Mississippi   31952   31635   31714   32334   32447
26              Missouri   42498   42527   42785   42736   43036
27               Montana   38567   39319   40148   40041   39833
28              Nebraska   51597   53109   54048   54660   54654
29                Nevada   43074   43075   44057   44142   44812
30         New Hampshire   48873   49623   51020   51827   52509
31            New Jersey   55659   55563   56196   56428   56776
32            New Mexico   39659   40769   41457   41334   41619
33              New York   62320   63174   64286   64522   65220
34        North Carolina   42909   43400   44180   44194   44706
35          North Dakota   67755   70876   67618   64257   64911
36                  Ohio   45262   46671   47098   47419   48188
37              Oklahoma   43317   45418   46370   44418   44535
38                Oregon   48169   48130   49715   50751   51312
39          Pennsylvania   48289   49228   50489   50978   51841
40          Rhode Island   46367   46663   47519   47662   48314
41        South Carolina   35716   36325   36952   37269   37637
42          South Dakota   47003   47039   47980   48306   48004
43             Tennessee   41513   41858   42902   43720   44348
44                 Texas   52007   52879   54200   53104   53737
45                  Utah   42306   43264   44392   44947   45493
46               Vermont   42989   43222   43605   44354   44831
47              Virginia   51112   50855   51486   51443   52124
48            Washington   54197   55338   56617   57796   59333
49         West Virginia   35772   36017   36233   36155   37353
50             Wisconsin   45895   46456   47268   48063   48666
51               Wyoming   60806   60853   61304   59327   61091

In [36]:
cleaned_df.to_csv("Cleaned_GDP_Data.csv", index=False, header=True)